.contact-form-dark {
	background-color: var(--secondary-dark-bg-color);
}
.contact-form-light {
	background-color: var(--secondary-light-bg-color);
}
.contact-form {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-form-dark .label-text,
.contact-form-dark .label-text.Mui-focused {
	color: var(--primary-dark-font-color);
}
.contact-form-dark .text {
	color: var(--primary-dark-font-color);
}
.contact-form-dark .text::before {
	border-bottom: 2px solid var(--primary-dark-font-color);
}
.contact-form-dark .text::after {
	border-bottom: 2px solid var(--primary-dark-bg-color);
}
.contact-form-light .label-text {
	color: var(--primary-light-bg-color);
}

.contact-form .text-field {
	margin: 5px;
	width: 300px;
}

.contact-form .submit-button {
	font-size: 1.2rem;
	margin: 1rem;
	padding: 0.5rem 3rem;
}

.contact-form-dark .submit-button {
	background-color: var(--primary-dark-bg-color);
}
