.home {
	flex-grow: 1;
	background-image: url(../../../assets/pexels-tima-miroshnichenko-5355925.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.home-dark {
	color: var(--primary-dark-bg-color);
}
.home-light {
	color: var(--primary-light-bg-color);
}
.home h1 {
	text-transform: uppercase;
	font-size: 3rem;
	padding: 15px;
}
.home h3 {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 5px;
}
.home .access-link .access-button {
	font-size: 1.5rem;
	margin: 1rem;
	padding: 0.4rem 3rem;
}
.home-dark .access-link .access-button {
	background-color: var(--primary-dark-bg-color);
}
