.detailed-dentist-card{
 border-radius: 20px;
 padding: 2rem;
 margin: 2rem;
 width: 400px;
 height: 250px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}
.detailed-dentist-card-dark{
 border: 2px solid var(--primary-dark-bg-color);
 color: var(--primary-dark-font-color);
}
.detailed-dentist-card-light{
 border: 2px solid var(--primary-light-bg-color);
 color: var(--primary-light-bg-color);
}
